/* Enter your custom styles here */
.myButton{
    margin-top: 20px;
    /* margin: 5px; */
    margin-left: 3px;
    margin-right: 3px;
}

.login_scr{
    margin: 6px;
}

.createBtn{
    margin-left: 10px;
}

.noGrid .sapMListTblCell {
    border: none !important;
}


#container-timesheetsclone---View2--timesheetSubmitButton {
    margin-top: 5%;
}

#container-timesheetsclone---View2--SPC1 {
    height: 10%;
    width: auto;
}



#container-timesheetsclone---View2--error_text{
    color: red;
}

#container-timesheetsclone---View2--noNotification{
    color: red;
}

.overflowHidden {
    overflow: hidden !important;
}

.submitted-field {
    background-color: #f5f5f5;
    color: #666;
    border: 1px solid #ddd;
}

.styleForDayBox{
    margin-left: 22%;
    align-items: center;
    justify-content: flex-start;
    gap: 17%;
}

#container-timesheetsclone---View2--sideNavigation-Flexible-Content {
    position: fixed;
    top: 0;        
    left: 0;       
    width: 255px;  
    height: 100vh;
    z-index: 1000;
    overflow-y: auto;
    background: white; 
}

.weeklyCalenderStyleClass{
    gap: 3%;
}
